/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 32px;
  height: 32px;

  &.big {
    width: 48px;
    height: 48px;
  }

  path,
  polygon,
  rect {
    &:not(.no-color) {
      fill: #ffffff;
    }

    stroke-width: 3;

  }

  circle {
    &:not(.no-color) {
      stroke: #ffffff;
    }

    stroke-width: 3;
  }
}
