/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 2em;
  height: 2em;

  &.big {
    width: 3em;
    height: 3em;
  }

  path,
  polygon,
  rect {
    fill: #ffffff;
    stroke-width: 3;

  }

  circle {
    stroke: #ffffff;
    stroke-width: 3;
  }
}
