$green: #1ECD97;
$gray: #bbbbbb;

* {
  font-family: 'Roboto', sans-serif;
}

.bruit-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // margin-left: -65px;
  // margin-top: -20px;
  width: 100%;
  min-height: 40px;


}

button#bruit-io-submit-button {
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius: 40px;
  background: none;
  border: 2px solid;
  // border: 2px solid $green;
  // color: $green;
  letter-spacing: 1px;
  text-shadow: 0;
  cursor: pointer;
  transition: all 0.25s ease;

  .bruit-svg-icon {
    display: none;
  }

  * {
    font: {
      size: 12px !important;
      weight: bold !important;
    }
  }

  // &:hover {
  //   color: white;
  //   background: $green;
  // }

  &:active {
    letter-spacing: 2px;
  }

  &.bruit-on-click {
    width: 40px;
    border-color: $gray;
    border-width: 3px;
    font-size: 0;
    background: transparent;

    // border-left-color: $green;
    animation: rotating 2s 0.25s linear infinite;

    #button-submit-label {
      display: none;
    }

    // &:hover {
    //   color: $green;
    //   background: transparent;
    // }
  }

  &.bruit-validate {
    background: transparent;
    border-color: transparent !important;

    #button-submit-label {
      display: none;
    }

    &:after {
      content: "";
    }

    .bruit-svg-icon {
      display: inline-block;
    }

    &:hover {
      background: transparent !important;
    }

    cursor: default;
  }
}



@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
