@import './devices';

bruit-modal {
  @import './reset';

  font-family: 'Montserrat', Arial, Helvetica, sans-serif;

  .error {
    color: red;
  }

  #bruit-modal-wrapper {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(41, 171, 164, 0.8);
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s ease-in-out;
    z-index: 90000;

    display: flex;
    flex-direction: row;
    justify-content: center;

    @media #{$mobile} {
      align-items: flex-start;
    }

    @media #{$tablet} {
      align-items: center;
    }

    @media #{$laptop} {
      align-items: center;
    }

    &.open {
      opacity: 1;
      visibility: visible;

      .modal {
        margin-top: 0;
        opacity: 1;
      }
    }

    .modal {

      margin-top: 100vh;

      @media #{$mobile} {
        width: 100vw;
        min-height: 100vh;

      }

      @media #{$tablet} {
        min-width: 70vw;
        max-width: 100vw;
        min-height: 70vh;
      }

      @media #{$laptop} {
        min-width: 50vw;
        max-width: 100vw;
        min-height: 60vh;
      }



      z-index: 91000;
      background: #fff;
      opacity: 0;
      transition: all 0.5s ease-in-out;



      .head {
        height: 3rem;
        padding: .5em 1em;
        overflow: hidden;
        background: #e2525c;
        color: #fff;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;


        font-size: 2em;

        #bruit-modal-btn-close {
          cursor: pointer;
        }
      }

      .content {
        padding: 10%;

        #bruit-modal-fieldset {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: baseline;
        }

      }
    }
  }














}
