@import './../../styles/devices';

:host {
  display: block;


  a.bruit-button {
    cursor: pointer;
  }

  @import './../../styles/material-form';
  @import './../../styles/submit-button';
  @import './../../styles/icon';

  font-family: 'Montserrat',
  Arial,
  Helvetica,
  sans-serif !important;


  .bruit-error {
    color: #c31313 !important;

    svg.bruit-svg-icon path {
      fill: #c31313 !important;
    }
  }

  #bruit-io-wrapper {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s ease-in-out;
    z-index: 90000;

    display: flex;
    flex-direction: row;
    justify-content: center;

    @media #{$mobile} {
      align-items: flex-start;
    }

    @media #{$tablet} {
      align-items: center;
    }

    @media #{$laptop} {
      align-items: center;
    }

    &.bruit-open {
      opacity: 1;
      visibility: visible;

      .bruit-modal {
        margin-top: 0;
        opacity: 1;
      }

    }


    .bruit-modal {

      margin-top: 100vh;
      max-height: 100vh;

      @media #{$mobile} {
        width: 100vw;
        min-height: 100vh;
      }

      @media #{$tablet} {
        // min-width: 70vw;
        max-width: 80vw;
        // min-height: 70vh;
      }

      @media #{$laptop} {
        // min-width: 50vw;
        max-width: 70vw;
        // min-height: 60vh;
      }



      z-index: 91000;
      background: #fff;
      opacity: 0;
      transition: all 0.5s ease-in-out;
      display: flex;
      flex-direction: column;



      .bruit-head {
        padding: 16px 24px;
        color: #fff;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;

        h1.bruit-title {
          font-weight: bold !important;
          font-size: 24px !important;
          color: #fff;
        }


        #bruit-io-btn-close {
          width: 24px;
          cursor: pointer;
        }
      }



      .bruit-content {
        height: 100%;
        overflow-y: auto;
        flex: auto;
        overscroll-behavior: contain;

        .bruit-sub-head {
          padding: 32px 32px 0 32px;
          color: #555;

          >p {
            font-size: 14px;
            color: #555;
          }
        }

        #bruit-io-form {
          padding: 48px;

          #bruit-io-fieldset {
            position: relative;
            width: 100%;
          }

          #bruit-io-footer-error {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }
      }
    }

  }

  @import './../../styles/reset';

}